<mat-toolbar class="top-bar">
    <mat-toolbar-row class="first-row">
        <form>
            <div class="form-group">
                <label class="logo" for="goHomePage">Task Name
                    <button id="goHomePage" class="btn" (click)="OnGoHomePage()"></button>
                </label>

                <input type="text" [(ngModel)]="productName" [ngModelOptions]="{standalone: true}" class="search-bar" required/>
                <button type="submit" > <mat-icon>search</mat-icon> </button>
            </div>  
        </form>
        <span class="spacer"></span>
        <nav>
            <ul class="toolbar">
                <li>
                    <label class="account" for="goLogin">Cont <mat-icon >account_circle</mat-icon>
                        <button id="goLogin" class="btn" (click)="OnGoLogin()"></button>
                    </label>
                    <ul class="dropDown">
                        <li> <label class="account" for="goLogin">Autentificate
                            <button id="goLogin" class="btn" (click)="OnGoLogin()"></button>
                        </label> </li>
                        <li> <label class="account" for="goSignup">Creeaza cont
                            <button id="goSignup" class="btn" (click)="OngoSignup()"></button>
                        </label> </li>
                    </ul>
                </li>
                <li > 
                    <label class="account" for="goFavorite">Favourite <mat-icon>favorite</mat-icon>
                        <button id="goFavorite" class="btn" (click)="OnGoFavorites()"></button>
                    </label>
                  
                </li>
                <li > 
                    <label class="account" for="goShoppingCart"> Cos Cumparaturi <mat-icon>shopping_cart</mat-icon>
                        <button id="goShoppingCart" class="btn" (click)="OnGoShoppingCart()"></button>
                    </label>
                    
                    
                    
                </li>
            </ul>
        </nav>
    </mat-toolbar-row>



    <mat-toolbar-row class="second-row">
        <ul class="sec-bar">
            <li class="prod-btn" [ngClass]="{ '.show': isHomePage }" (mouseenter)="showDropdown()" (mouseleave)="hideDropdown()">
                <label class="sec-row-btn" for=""> Produse
                    <button  id="" class="btn" ></button>
                </label>
                <ul class="dropDown-prod">
                    <li> <label class="account" for="selectCategory">Lansete
                        <button id="selectCategory" class="btn" (click)="selectCategory('lansete')"></button>
                    </label> </li>
                    <li> <label class="account" for="selectCategory1">Mulinete
                        <button id="selectCategory1" class="btn" (click)="selectCategory('mulinete')"></button>
                    </label> </li>
                    <li> <label class="account" for="selectCategory2">Nada
                        <button id="selectCategory2" class="btn" (click)="selectCategory('nada')"></button>
                    </label> </li>
                </ul>

            </li>
            <li>
                <label class="sec-row-btn" for="goPromotions"> Promotii
                    <button  id="goPromotions" class="btn" (click)="OnGoHomePage()"></button>
                </label>
            </li>
            <li>
                <label class="sec-row-btn" for="goNewItems"> Noutati
                    <button  id="goNewItems" class="btn" (click)="OnGoNewItems()"></button>
                </label>
            </li>
            <li>
                <label class="sec-row-btn" for="goInformations"> Contact
                    <button  id="goInformations" class="btn" (click)="OnGoInformations()"></button>
                </label>
            </li>
        </ul>
     
      
    </mat-toolbar-row>
  </mat-toolbar>

