.top-bar
{
  background-color: #2C5B29  !important;
  height:100px;
}


.firts-row
{
  height: 40px;
}
.spacer {
  flex: 1 1 auto;
}
  
.form-group
{
  padding-left: 20px;
  height: 30px;
  display: flex;
}
.search-bar
{
  margin-left: 20px;
  width: 400px;
}


nav .toolbar
{
  list-style: none;
  display: flex;
 
}

nav .toolbar > li {
  position: relative; 
}


//o sa sterg (nav .toolbar li a) pentru ca toate <a> o sa fie inlocuite de labe-uri sa pot sa dau click pe ele
nav .toolbar li a
{
  color: inherit;
  padding-left: 15px;
  display: flex;
  text-decoration: none;
  align-items: center;
}
nav .toolbar li .account
{
  color: inherit;
  padding-left: 0px;
  display: flex;
  text-decoration: none;
  align-items: center;
}

nav .dropDown li a {
  color:inherit;
  padding: 0px ;
}

nav .dropDown
{
  display: none;
  position: absolute; 
  top: 100%;
  right: 0;
  padding: 0px;
  background-color: #f3e5ab; 
  list-style: none;
  border-radius: 4px; 
}

nav .toolbar > li:hover .dropDown {
  display: block; /* Afișează lista */
}

nav .dropDown li a:hover {
  color: blue;
  
}

.account
{
    cursor: pointer;
    user-select: none;

}

.logo
{
    cursor: pointer;
    user-select: none;
}

.btn
{
    display: none;
}

.second-row {
  height: 30px;
  margin-top: 0%;
}

.second-row .sec-bar {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.second-row ul li {
  height: 42px;
  width: 200px;
  display: flex;
  justify-content: center; 
  align-items: center;
  background-color: #4A90E2;
  position: relative; 
}

.second-row ul li label {
  color: inherit;
  align-items: center;
  cursor: pointer; /* Indicativ pentru hover */
}

/* Stiluri pentru dropdown */
.prod-btn {
  background-color: #F3E5AB !important;
}

.dropDown-prod {
  display: none;
  position: absolute; 
  top: 100%; 
  left: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0; /* Elimină spațiul dintre elemente */
  width: 100px;
  
}

.dropDown-prod li {
  height: auto;
  width: 100%; 
  text-align: center; 
  background-color: #fff;
}

.sec-bar .dropDown-prod li:hover {
  background-color: #F3E5AB; /* Fundal la hover */
}

.dropDown-prod li label {
  width: 100%; 
  display: block !important;
  cursor: pointer;
}

.sec-bar>.prod-btn:hover .dropDown-prod {
  display: block;
}


.sec-bar .dropDown-prod .show {
  display: block; /* Afișat dacă este pe pagina de Acasă */
}

.second-row .sec-bar li:hover {
  background-color: #FFD700; 
}
